<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hamza Dabjan Co. Leaders Page</title>
</head>
<body>

<h2> Hamza Dabjan Co. Leaders Page </h2>

<hr>
This is a secret message for MANAGERS ONLY!
Don't tell Employees about it!!
<hr>
<a th:href="@{/}">Go Back</a>
<br>
<hr>


<form action="#" method="post" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>